html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    margin: 0;
  }

  p { margin:0 }

  /* Add a black background color to the top navigation */
.topnav {
    background-color: #1B1B2F;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: #E8E8EA;
  }


  .section1 {
    background-color: #1B1B2F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
  }

  .title {
      font-size: 3rem;
      flex: auto;
      text-align: left;
      padding-bottom: 1rem;
      color: #E43F5A;
  }

  
  /*Changing Text - subtitle*/

  .container {
  height: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
.container p {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #E43F5A;
}
.container p span.cursor {
  display: inline-block;
  background-color: #E43F5A;
  margin-left: 0.1rem;
  width: 20px;
  animation: blink 0.5s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #E43F5A; }
  49% { background-color: #E43F5A; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #E43F5A; }
}

  
  .section2 {
    background-color: #1B1B2F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
  }

  .me {
    max-width: 25%;
    margin-right: 25%;

  }

  .masterbio {
    display: flex;
    flex-direction: column;
    max-width: 35%;
  }

 .bio {
    color: #E8E8EA;
  }

  .socneticons {
    display: flex;
    flex-direction: row;
  }

  .snicon {
    width:40px;
    margin: 1rem;
    fill: #E43F5A
  }

  .snicon:hover {
    width:40px;
    margin: 1rem;
    fill: #E8E8EA;
    transition: 0.3s;
  }


h2 {
  color: #E43F5A;
}


.section3 {
  background-color: #0B0B13;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-around;
}

    /* skills  */ 
  
  html, .skills{
    display: grid;
    place-items: center;
  }
  .skill-bars{
    padding: 25px 30px;
    width: 100%;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #E43F5A;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 80%;
  }
  .bar .progress-line.css span{
    width: 80%;
  }
  .bar .progress-line.nodejs span{
    width: 35%;
  }
  .bar .progress-line.react span{
    width: 35%;
  }
  .bar .progress-line.python span{
    width: 70%;
  }
  .bar .progress-line.sql span{
    width: 15%;
  }
  .bar .progress-line.illustrator span{
    width: 70%;
  }
  .bar .progress-line.photoshop span{
    width: 35%;
  }
  .bar .progress-line.sketchup span{
    width: 75%;
  }
  .bar .progress-line.autocad span{
    width: 80%;
  }
  .bar .progress-line.revit span{
    width: 70%;
  }
  .bar .progress-line.ingles span{
    width: 95%;
  }
  .bar .progress-line.alemao span{
    width: 45%;
  }
  .bar .progress-line.italiano span{
    width: 35%;
  }
  .bar .progress-line.espanhol span{
    width: 50%;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  

       /* skills  */ 

.devexperience {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  color: #E8E8EA
}

.dev {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-top: 4rem;
  color: #E8E8EA;
  width: 35%;

}

  .devicons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .where {
    color: #E43F5A;
  }

  .when {
    color: #8D8D97;
  }

  .seemore {
    color:  #E8E8EA;
    text-decoration: none;
    font-size: 24px;
  }

.section4 {
  background-color: #0B0B13;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-around;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width:50px;
  margin: 1rem;
  transition: 0.3s;
}

.icon:hover {
  transform: translate(0, -10px);
}

.arqexperience {
  justify-content: center;
  width: 35%;
  align-items: center;
  color: #E8E8EA
}

.projects {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  align-items: center;
}

.section5 {
  background-color: #162447;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-around;
  align-items: center;
}

.moreinfo {
  color: #E8E8EA;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.moreinfo2 {
  color: #E8E8EA;
  display: flex;
  flex-direction: column;
  width: 35%;
}

.section6 {
  background-color: #0B0B13;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1500px) {
  .me {
    max-width: 25%;
    margin-right: 15%;
    margin-left:10%;
  }

  .masterbio {
    display: flex;
    flex-direction: column;
    max-width: 35%;
  }

 .bio {
    color: #E8E8EA;
    padding-right: 0%;
    text-align: justify;
  }
}

@media screen and (max-width: 1200px) {


  .title {
    margin-top: 5%;
    font-size: 2rem;
  }
  .container {
    margin-bottom: 5%;
  }

  .section2 {
    background-color: #1B1B2F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .me {
    max-width: 50%;
    margin: 0%
  }

  .masterbio {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

 .bio {
    color: #E8E8EA;
    padding-right: 0%;
    text-align: justify;
  }


  .dev {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10%;
    color: #E8E8EA;
    margin-top: 1rem;
  }
  
    .section4 {
      background-color: #0B0B13;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content:center;
      align-items: center;
    }
    

    .projects {
      width: 80%;
      color: #E8E8EA;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  

    .masterbio {
      display: flex;
      flex-direction: column;
      max-width: 80%;
    }
    .me {
      margin-top: 10%;
      max-width: 60%;
    }
      .section2 {
        background-color: #1B1B2F;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
      }
    
      .devexperience {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: 10%;
        color: #E8E8EA
      }
    
      .arqexperience {
        max-width: 80%;
      }
    
      .icon {
        width: 3rem;
        margin:0.5rem
      }
    
      .projects {
        width: 80%;
      }
    
      .section3 {
        background-color: #0B0B13;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
      }
    
      .section4 {
        background-color: #0B0B13;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-around;
      }

      .section5 {
        flex-direction: column;
      }

    .moreinfo {
      color: #E8E8EA;
      display: flex;
      flex-direction: column;
      width: 80%;
    }
    
    .moreinfo2 {
      max-width: 80%;
    }
    


@media screen and (max-width: 500px) {

  body {
    font-size: 12px;
  }

  .title {
    margin-top: 5%;
    font-size: 2rem;
  }

.container {
  margin-bottom: 5%;
}


.masterbio {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}
.me {
  margin-top: 10%;
  width: 80%;
}
  .section2 {
    background-color: #1B1B2F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .icon {
    width: 3rem;
    margin:0.5rem
  }

  .section3 {
    background-color: #0B0B13;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
  }

  .section4 {
    background-color: #0B0B13;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
  }

  .skill-bars .bar .info span{
    font-weight: 300;
    font-size: 12px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
}
}