body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
  }

  /* Add a black background color to the top navigation */
.topnav {
    background-color: #1B1B2F;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: white;
  }


  .section1 {
    background-color: #1B1B2F;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top:3rem;
  }

  .title {
      font-size: 4rem;
      flex: auto;
      text-align: center;
      padding-bottom: 1rem;
      color: #E43F5A;
  }

  .ml11 {
    font-weight: 400;
    font-size: 3.5em;
  }


  /*Changing Text - subtitle*/

  .container {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #E43F5A;
}
.container p span.cursor {
  display: inline-block;
  background-color: #E43F5A;
  margin-left: 0.1rem;
  width: 20px;
  animation: blink 0.5s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #E43F5A; }
  49% { background-color: #E43F5A; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #E43F5A; }
}


  * {
    box-sizing: border-box;
  }
  
  .section2 {
    background-color: #1B1B2F;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10rem;
    height: auto;
  }

 .bio {
    color: #E8E8EA;
    padding-right: 10%;;
  }

  .me {
    width:500px;
    margin: 10%;
  }

  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }